:root {
 --width: 550px;
 --height: 550px;
 --btn_width: 30px;
 --btn_height: 30px;
 --btn_half_height: 15px;
}

body{
    font-family: "sans-serif";
}

.container{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#canvas1{
    border: 1px solid grey;
    height: var(--height);
    width: var(--width);
}

#canvas2{
    border: 1px solid grey;
    height: var(--height);
    width: var(--width);
    border : none;
}

#stats{
   display: grid;
   width: 300px;
   align-items: center;
   font-family: Verdana;
   font-size: 14px;
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

#bettistats{
    display: grid;
    align-items: center;
    font-family: Verdana;
    font-size: 14px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
 }

#status {
    padding-top: 5px;
    display : flex;
    flex-direction: row;
    width: var(--width);
    justify-content: space-between;
}

.column2{
    padding-left: 20px;
}

.buttons1{
    display : flex;
    flex-direction: row;
    justify-content: right;
}

.buttons2{
    padding-top: 5px;
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn{
    border-radius: 4px;
    border: 1px solid lightgrey;
    height: var(--btn_height);
    width: var(--btn_width);
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#scaling {
    display : flex;
    flex-direction: column;
 }
 
 #yscaling {
    display : flex;
    flex-direction: row;
 }
 

.btn_half{
    border-radius: 4px;
    border: 1px solid lightgrey;
    height: var(--btn_half_height);
    width: var(--btn_width);
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

.btn_y_half{
    border-radius: 4px;
    border: 1px solid lightgrey;
    height: var(--btn_width);
    width: var(--btn_half_height);
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}

.btn_up {
    background-image: url("./up.png");
}

.btn_down {
    background-image: url("./down.png");
}

.btn_y_up {
    background-image: url("./left.png");
}

.btn_y_down {
    background-image: url("./right.png");
}

.btn_half:hover{
    border: 1px solid black;
}

.btn_y_half:hover{
    border: 1px solid black;
}

.btn:hover{
    border: 1px solid black;
}

.btn1{
    background-image: url("./btn_1_on.png");
}

.btn2{
    background-image: url("./btn_2_on.png");
}

.btn3{
    background-image: url("./btn_3_0.png");
    display: none;
}

.btnA1{
    background-image: url("./random.png");
}

.btnA2{
    background-image: url("./universe.png");
}

.btnA3{
    background-image: url("./crystal.png");
}

.btnA4{
    background-image: url("./gasket.png");
}

.btnA5{
    background-image: url("./voids.png");
}

.btnA6{
    background-image: url("./solar.png");
}

#info{
    width: var(--width);
    padding-top: 40px;
    padding-left: 20px;
    font-family: arial;
    font-size: 12px;
    color : lightgray;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#href{
    text-decoration: none;
    color : lightgray;
}

#href:hover{
    color : blue;
    text-decoration: underline;
}

#info:hover{
    color : gray;
}

#credits{
    padding-top: 20px;
    padding-left: 10px;
    font-family: arial;
    font-size: 12px;
    color : lightgray;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#infos {
    display : flex;
    flex-direction: row;
}

