body{
    font-family: "Courier New";
}

#canvas{
    border: 1px solid grey;
    height: 600px;
    width: 600px;
}

#output{
    padding-left: 70px;
    height: 600px;
    flex-grow: 1;
    overflow-y: scroll;
}

#info{
    padding-top: 20px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: 12px;
    color : gray;
}

.container{
    padding-top: 20px;
    display : flex;
    flex-direction: row;
}

