body{
    font-family: "Times New Roman";
}

#canvas{
    border: 1px solid grey;
    height: 550px;
    width: 550px;
}

#output{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    height: 530px;
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    border-top: 1px solid white;
    border-bottom: 1px solid lightgrey;
}

#info{
    width : 550px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: arial;
    font-size: 12px;
    color : lightgray;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#credits{
    padding-left: 20px;
    font-family: arial;
    font-size: 12px;
    color : lightgray;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#table{
    padding-left: 20px;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#buttons{
    padding-top: 10px;
    width: 550px;
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.btn{
    border-radius: 4px;
    border: 1px solid lightgray;
    height: 30px;
    width: 30px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn:hover{
    border: 1px solid black;
}

.btn1{
    background-image: url("./btn_1_on.png");
}

.btn2{
    background-image: url("./btn_2_on.png");
}

.btn3{
    background-image: url("./btn_3_off.png");
}

#table td {
    padding-left: 20px;
}

#table th {
    padding-left: 20px;
}

#table td:nth-child(2) {
    text-align: left;
}

#href{
    text-decoration: none;
    color : lightgray;
}

#href:hover{
    color : blue;
    text-decoration: underline;
}

#info:hover{
    color : gray;
}

.container{
    padding-top: 20px;
    display : flex;
    flex-direction: row;
}

#infos {
    display : flex;
    flex-direction: row;
}